openapi: 3.0.3
info:
  title: projectU REST API
  description: A REST API for the application projectU
  version: 1.0.0

paths:
  /projects:
    get:
      tags:
        - project
      summary: Get all projects
      description: Returns every Project
      operationId: getAllProjects
      responses:
        '200':
          description: Every project returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'

    post:
      tags:
        - project
      summary: Create new project
      operationId: createProject
      requestBody:
        description: Creates a new project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
        required: true
      responses:
        '201':
          description: Project created
          headers:
            Location:
              schema:
                type: string
                format: uri
            Content-Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          links:
            getProjectById:
              operationId: getProjectById
              parameters:
                id: $response.body#/id

  /projects/{id}:
    get:
      tags:
        - project
      summary: Get project by id
      description: Returns a single project
      operationId: getProjectById
      parameters:
        - name: id
          in: path
          description: ID of project to return
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Project was found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'

    put:
      tags:
        - project
      summary: Updates a project
      operationId: updateProject
      parameters:
        - name: id
          in: path
          description: ID of project to be updated
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '200':
          description: Project updated
          headers:
            Location:
              schema:
                type: string
                format: uri
            Content-Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          links:
            getProjectById:
              operationId: getProjectById
              parameters:
                id: $response.body#/id
        '201':
          description: Project created
          headers:
            Location:
              schema:
                type: string
                format: uri
            Content-Location:
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          links:
            getProjectById:
              operationId: getProjectById
              parameters:
                id: $response.body#/id

    delete:
      tags:
        - project
      summary: Deletes a project
      operationId: deleteProject
      parameters:
        - name: id
          in: path
          description: Project id to delete
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Project deleted

components:
  schemas:
    Project:
      type: object
      required:
        - title
        - state
        - complexity
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        state:
          $ref: '#/components/schemas/State'
        complexity:
          $ref: '#/components/schemas/Complexity'
        estimatedDurationInHours:
          type: integer
        expectedResult:
          type: string
        actualResult:
          type: string
        createdAt:
          type: integer
          format: int64
        startedAt:
          type: string
        finishedAt:
          type: string
      example:
        id: 2ebeba4e-67a0-44f9-baed-2ebf6c903648
        title: Learn to design an API
        description: A project for learning and applying REST API practises
        tasks:
          - id: 1adfb959-5152-4cd7-abae-00ea07fa6056
            title: Learn OpenApi
            description: A task for learning the OpenApi specification
            done: false
            estimatedDurationInHours: 12
            result: More knowledge about OpenApi
        state: IN_PROGRESS
        complexity: EASY
        estimatedDurationInHours: 23
        expectedResult: Learning something.
        actualResult: Learned a lot!
        createdAt: 01.01.2021
        startedAt: 02.01.2021
        finishedAt: 03.01.2021

    Task:
      type: object
      required:
        - title
        - done
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        done:
          type: boolean
        estimatedDurationInHours:
          type: integer
        result:
          type: string
      example:
        id: 1adfb959-5152-4cd7-abae-00ea07fa6056
        title: Learn OpenApi
        description: A task for learning the OpenApi specification
        done: false
        estimatedDurationInHours: 12
        result: More knowledge about OpenApi

    State:
      type: string
      enum:
        - INITIATED
        - IN_PROGRESS
        - HALTED
        - FINISHED

    Complexity:
      type: string
      enum:
        - EASY
        - MEDIUM
        - DIFFICULT

tags:
  - name: project
    description: An operation including projects
